{% extends "allauth/layouts/base.html" %}


{% block content %}
    <h1>My Dashboard</h1>
    <h2>dashboard</h2>
    

    {{ user.username }} <br>
    {{ user.email }} <br>
    {{ user.first_name }} <br>
    {{ user.last_name }} <br>
    <a href="/accounts/logout">Logout</a>
{% endblock content %}



<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>My Dashboard</h1>
        <h2>dashboard</h2>
        {{ user.username }} <br>
        {{ user.email }} <br>
        {{ user.first_name }} <br>
        {{ user.last_name }} <br>
        <a href="/accounts/logout">Logout</a>
    </body>
</html>