.nav-logo {
  height: 40px;
  margin-left: 50px;
  margin-top: -3px;
}

.topbar_box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 1000;
}



.sidebar.collapsed {
    transform: translateX(-100%);
    height: 0;
    z-index: 0;
}



.sidebar .nav-link:hover {

    background-color: var(--bs-terciary);
    border-radius: 10px;
}

.sidebar {
    position: fixed;
    margin-top: 50px;
    top: 0px;
    left: 0PX;
    width: 200px;
    height: calc(100vh - 60px);
    padding: 5px;
    z-index: 999;
}

.content {
    position: fixed;
    margin-left: 200px;;
    padding: 2px;
    height: calc(100vh - 60px);
    width: calc(100% - 200px);
    overflow-y: auto; /* Permite scroll apenas no conteúdo */
    transition: margin-left 0.1s ease;
}

.content.sideOff {
    position: fixed;
    margin-left: 0px;;
    padding: 2px;
    height: calc(100vh - 60px);
    width: 100%;
    overflow-y: auto; /* Permite scroll apenas no conteúdo */
    transition: margin-left 0.1s ease;
}




.toggle-btn {
    position: absolute;  /* Permite posicionamento livre dentro do elemento pai (.sidebar) */
    top: 12px;           /* Define a distância do topo */
    left: 5px;         /* Encosta o botão no canto superior direito */
    border: none;
    padding: 5px 10px;
    cursor: pointer;

}


.toggle-btn.sideOff {
    position: fixed;
    top: 12px;
    left: 5px;
    z-index: 1001;
}




.spinner {
    display: none;
  }
  
.htmx-request .spinner {
  display: inline;
}

.htmx-request.spinner {
  display: inline;
}

.htmx-request.spinner ~ .button-text {
  display: none;
}









  /* for tables2 htmx */

  /* Table style */
.table-container th.asc:after {
  content: '\0000a0\0025b2';
  float: right;
}

.table-container th.desc:after {
  content: '\0000a0\0025bc';
  float: right;
}

.table-container table td:nth-child(1) {
  width: 5%;
}

.table-container table td:nth-child(2) {
  width: 20%;
}

.table-container table td:nth-child(3) {
  width: 50%;
}

/* Progress bar */
.progress {
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-clip: padding-box;
  overflow: hidden;
  position: relative;
}

.progress {
  opacity: 0;
}

.htmx-request .progress {
  opacity: 1;
}
.htmx-request.progress {
  opacity: 1;
}

.progress .indeterminate {
  background-color: blue;
}

.progress .indeterminate:before {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress .indeterminate:after {
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}


.pagination {
  cursor: pointer;
}

@keyframes indeterminate {
  0% {
      left: -35%;
      right: 100%;
  }
  60% {
      left: 100%;
      right: -90%;
  }
  100% {
      left: 100%;
      right: -90%;
  }
}

@keyframes indeterminate-short {
  0% {
      left: -200%;
      right: 100%;
  }
  60% {
      left: 107%;
      right: -8%;
  }
  100% {
      left: 107%;
      right: -8%;
  }
}
