<c-base title="Sobcontrole">
    <c-top_bar/>  
    <div class="d-flex">         
        <c-side_bar/>
        <c-content>
            <c-center_h id="main-div">
                <c-card id="card1">
                    <c-slot name="header">
                        <h1 class="text-center">Sobcontrole</h1>
                    </c-slot>
                    <c-loren/>
                </c-card>

                <c-card class="shadow rounded-4">
                    <c-center_hv>
                        <c-loren/>
                    </c-center_hv>
                </c-card>
            </c-center_h>
        </c-content>
    </div>
</c-base>



