{% load static %}

        <nav class="sidebar nav flex-column" id="sidebar">
            {% for m in menu %}
                {% if m.children %}
                    <li class="nav-item">
                        <a href="#{{m.text}}" data-bs-toggle="collapse" class="nav nav-link link-secondary link-opacity-50-hover">
                            <i class="{{m.image}}"></i> <span class="ms-1 d-none d-sm-inline">{{m.text}}</span> </a>
                            <nav class="collapse nav-item flex-column" id="{{m.text}}" data-bs-parent="#menu">
                                {% for ch in m.children %}
                                    <c-sidebar_link class="px-4" link="{{ch.link}}" text="{{ch.text}}"></c-sidebar_link>
                                {% endfor %}
                            </nav>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <c-sidebar_link icon="{{ m.image }}" link="{{ m.link }}" text="{{ m.text }}"></c-sidebar_link>
                    </li>
                {% endif %}
            {% endfor %}
        </nav>
    


